@charset "utf-8";
/************************
 * 描述：首页
 * 作者：李梅
 * 时间：2014-04-11
 ***********************/
/*.list .lidiv .litext .ltri a,.t_head .t_head_l a{background-image:url(../../Index/Image/bg2.png); background-repeat:no-repeat;}*/

 /*头部*/
.t_head{height:54px;width:100%;border-bottom:1px solid #bfbfbf;box-shadow: 0 0 5px 2px #bfbfbf;position:relative;z-index:666;background-color:#fff;}
.t_head .t_head_l{left:0;top:0;width:54px;height:54px;position:absolute;}
.t_head .t_head_l a{height:27px;margin:15px auto 0 auto; width:40px;display:block; cursor:pointer;font-size: 24px;color: #444;text-align: center;line-height: 27px;}
.t_head #t_head_m{ padding-top:12px;position:relative;margin:0px 45px 0 54px; overflow:hidden;border:none;}
.t_head #t_head_m input{height:28px;width:100%; text-indent:0.5em;background-color:transparent;border-top:none;border-left:none;border-right:none;font-size:15px;color:#999999;}
.t_head #t_head_m:before{width:6px;height:8px;content:'';left:0;display:block;position:absolute;bottom:0;}
.t_head #t_head_m:after{width:6px;height:8px;content:'';right:0;display:block;position:absolute;bottom:0;}
.t_head .t_head_m input{ border-bottom:1px solid #c4c7d0;}
.t_head .t_head_m:before{border-left: 1px solid  #c4c7d0;}
.t_head .t_head_m:after{border-right: 1px solid  #c4c7d0;}
.t_head .t_head_mb input{ border-bottom:1px solid green;}
.t_head .t_head_mb:before{border-left: 1px solid  green;}
.t_head .t_head_mb:after{border-right: 1px solid  green;}
.t_head .t_head_r{width:28px;height:28px;position:absolute;right:10px;bottom:12px;z-index:777;}

/*分类栏目的显示*/
.subnav{width:100%;position:absolute;top:55px;z-index:665;background-color:rgba(255,255,255,0.97);-webkit-transition-duration: 500ms;-webkit-transform: translate3d(0px, -100%, 0px);}
.subnav_open{-webkit-transform: translate3d(0px, 0px, 0px);}
.subnav ul li{width:100%;float:left;box-sizing:border-box;height:44px;line-height:44px;text-align:center;border-bottom:1px solid #e0e0e0;}
.subnav ul li:nth-child(2n){border-right:0px solid #c1c4cd;}
.subnav ul li a{width:100%;height:43px; display:block; color:#505050;}
.subnav ul li a:hover{color:#505050;background-color:#fff;}

/*加载*/	
#cloading{width:100%;text-align:center; position:inherit; top:inherit;}
#cloading #loadmore{background:url(../../Index/Image/loading.gif) no-repeat left top;height:32px;width:32px;border:0px;display:block;margin:0 auto;}

/*图片列表*/
.list{ max-width:640px; margin:0 auto; }
.list .lileft{ width:47.3%; float:left; margin-left:2%; }
.list .liright{ width:47.3%; float:right; margin-right:2%; }
.list .lidiv { width:100%; margin:5px 0 0 0; position:relative; background-color:#ffffff; box-sizing:border-box; }/*百分比布局使用内边框box-sizing:border-box;*/
/*.list .lidiv:after { content:''; position:absolute; left:-1px; top:-1px; width:100%; height:100%; border:solid 1px #d1d1d1; border-radius:7px; box-shadow:1px 1px 3px #d5d5d5; }*//*伪元素画外边框*/
.list .lidiv .liimg { text-align:center; }
.list .lidiv .liimg a { display:block; }
.list .lidiv .liimg img { max-width:100%; min-height: 120px; margin:0 auto; display:block; }
.list .lidiv .litext{padding-bottom:5px;}
.list .lidiv .litext span{float:left;margin-left:10px;font-size:15px!important;color:#dc491e;font-family:"Arial";}
.list .lidiv .litext .count{font-size:10px!important;color:#999;margin-left:2px!important;padding-top:2px;}
.list .lidiv .litext .ltri{float:right;margin-right:10px;margin-top: 2px;}
.list .lidiv .litext .ltri a{width:16px; height:18px; line-height:20px; color:transparent; -webkit-text-stroke: 1px #ff6299; display:block; cursor:pointer; float:right;}
/*.list .lidiv .litext .ltri a:active{background-position:-14px -782px;}*/
.list .lidiv .litext .ltri a.select{color:#ff6299;}
.list .lidiv .litext .ltri em{ float:right;color:#804055; font-size:12px;}
.list .lidiv .litext  h3{ font-weight:normal; color:#555; padding-top:5px; line-height:20px;margin:0px 10px;text-overflow:ellipsis; overflow:hidden; -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; }

/*没有显示记录*/
#noRec{padding:80px 0px;}
#noRec{width:100%;}
#noRec .square{width:64px;height:64px;border:4px solid #ccc;border-radius:100px;margin:0 auto;}
#noRec .square .s_head{width:50px;height:50px;border-radius:36px;margin:0 auto;background-color:#efefef;}
#noRec .square .s_head span{width:10px;height:10px; border-radius:5px;background-color:#ccc;margin:20px 5px 0 5px;}
#noRec .square .s_head .l{float:left;}
#noRec .square .s_head .r{float:right;}
#noRec .square .b_head{width:42px;height:42px;border-radius:38px;background-color:#ccc;margin:0 auto; position:relative; z-index:-111;margin-top:-38px;}
#noRec .ic_text{height:24px;line-height:38px;text-align:center;color:#999;}

/*排序*/
.sort{width:100%;}
.sort ul{display: -webkit-box;height: 40px;border-bottom:1px solid #b6000b}
.sort ul li{-webkit-box-flex: 1;text-align: center;background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f3f3f3));line-height: 30px;width: 25%; display:list-item;}
.sort ul li a{display:block;height:40px; line-height:40px;}
.sort ul li:last-child{border-right:none;}
.sort ul  .active{border-bottom:2px solid #b6000b;box-sizing:border-box;}
.sort ul  .active a{color:#b6000b;}
.sort ul li b{position:relative;margin-left:15%;width:0;height:0;bottom:22px;z-index:555;}
.sort ul li .bdes{border-top: 6px solid #b6000b;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 0;}
.sort ul li .baes{border-top: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 6px solid #b6000b;bottom:46px;}
@media only screen and (min-width: 720px) and (max-width: 1080px){
	.sort ul li b{margin-left:27%!important;}
}
@media only screen and (min-width: 640px) and (max-width: 720px){
	.sort ul li b{margin-left:31%!important;}
}
@media only screen and (min-width: 480px) and (max-width: 640px){
	.sort ul li b{margin-left:33%!important;}
}
@media only screen and (min-width: 360px) and (max-width: 480px){
	.sort ul li b{margin-left:45%!important;}
}
@media only screen and (max-width: 360px){
	.sort ul li b{margin-left:53%!important;}
}