@charset "utf-8";
/************************
 * 描述：公共样式
 * 作者：李梅
 * 时间：2013-12-13
************************/
html{height:100%;}
body{line-height: 1.5;font-size: 13px;height:100%; }
a {color: #000000;text-decoration: none;}
/*公共背景图*/
.cc_content_empty .cc_icon .cc_icon_img,.cc_content_empty .cc_icon .cc_icon_shop
{ background-image:url(../../Index/Image/b.png); background-repeat:no-repeat; }

/*页脚*/
footer {position:fixed;left:0; bottom:0px;width:100%;z-index:666;background: rgba(239,239,239,0.9);}
.toolbar {width: 100%;height: 49px;margin: 0 auto;border-top:1px solid #c1c4cd;}
.toolbar ul {width: 100%;display:-webkit-flex;/* Chrome 21+ */display:-ms-flexbox;/* WP IE 10 */display: -moz-box;-moz-box-orient: horizontal;-webkit-box-orient: horizontal;box-orient: horizontal;display: -webkit-box;}
.toolbar li {width: 20%;text-align: center;-moz-box-flex: 1;-webkit-box-flex: 1;-ms-flex:1;/* WP IE 10 */box-flex: 1;}
.toolbar a, .toolbar div {height: 43px;padding-top:3.5px;display: block;text-align: center;vertical-align: middle;color: #444;border-bottom: none;text-decoration: none; cursor:pointer;}
.toolbar a:visited{color:#505050;}
.toolbar .icon {width: 30px;height: 24px;font-size: 20px;line-height: 24px;display: inline-block;color:#505050;}
.toolbar span {position:relative;display: block;margin: 0 auto;height:19px;font-size:13px;line-height:19px;text-align: center;}
.toolbar .bmore{color: #31c800;}

.toolbar .butt { width: 30%;}
.toolbar .butt a{display: inline-block; font-size: 15px; width:90%; height: 38px; line-height:38px; margin: 6px auto 5px auto; padding: 0; color:#FFF;border-radius:3px;}
a.butt-cart{  background:#32a000;}
a.butt-buy{  background:#ff6400;}
a.btn-disabled { background:#777; }

/*电话、客服、二维码、分享、关于我们*/
.icondiv{bottom:50px;z-index:666;height:144px;width:100%;}
.icondiv #uldivz{width:100%; border-top:1px solid #c1c4cd;}
.icondiv #uldivz ul{height:72px; display:block;}
.icondiv #uldivz ul:nth-child(1){border-bottom:1px solid #c1c4cd;}
.icondiv #uldivz li{ width:25%; float:left; height:100%; text-align:center; position:relative;}
.icondiv #uldivz li:not(:nth-child(5n)):after { content:''; height:100%; border-right:solid 1px #c1c4cd; position:absolute; right:0; top:0; }
.icondiv #uldivz li a{ display:block; height:56px; padding-top:15px; cursor:pointer; text-align: center;}
.icondiv #uldivz li a span{font-size:20px;color:#505050;}
.icondiv #uldivz li a .icon {width: 30px;height: 24px;line-height: 24px;font-size: 20px;opacity: 0.8; }
.icondiv #uldivz li a .text {display: block;margin: 0 auto;height:19px;line-height:20px;font-size:12px; text-align: center; color:#505050;}

.icondiv #uldivz li .doblhover{ background-position:-14px -97px;}
.icondiv ul li .ico_message{ background-position: -8px -278px;}
.icondiv ul li .ico_app{ background-position: -8px -1030px;}

/*copyright*/
/*.copyright{height:50px; line-height:50px;width:100%; text-align:center;color:#ccc;}*/
.copyright{ line-height:30px;width:100%; text-align:center;color:#ccc;}
.copyright a{  font-size:14px; color:#ccc;}
/*遮罩效果*/
.show{ position:fixed; z-index:333;width:100%;background: rgba(0,0,0,0.4); top:0px; height:100%; left:0px; }
/*二维码*/
.erwei{width:100%;position: fixed;bottom: 100px;left: 0;z-index: 99999;text-align: center;border-top: none;}
.erwei .ew_main{width:242px;padding-bottom:10px; margin:0 auto;background-color:#fff;}
.erwei .ew_main p{text-align:center;}
.erwei img{width:208px;height:208px;border-top:17px solid #fff;border-left:17px solid #fff;border-right:17px solid #fff;}
.erwei p a{height:36px;line-height:36px;display:block;color:#fff;background: -webkit-gradient(linear,left top,left bottom,from(#fc9605),to(#fd7000));width:208px;margin:0 auto;}

/*新二维码弹出层*/
.QRCode_share_box {display:none;position:fixed;top:0px;bottom:0px;left:0px;right:0px;min-width:300px;min-height:600px;background: rgba(16, 16, 16, 0.9);z-index: 1000;}
.QRCode_share_method {position: relative;display:block;color:#fff;margin:0 10px;box-sizing: border-box;}
.QRCode_share_detail {position:relative;padding-top:45px;display:block;margin:0px auto;}
.QRCode_share_detail p {width:235px;margin:0 auto;color: #f7f996;font-size:16px;}
.QRCode_share_detail  ul {display: block;width:235px;margin:0 auto;}
.QRCode_share_detail  ul li {position:relative;display: block;width:100%;font-size:13px;line-height: 30px;overflow: hidden;}
.QRCode_share_detail  ul li i {position:relative;width: 27px;display: inline-block;line-height: 25px;font-size: 20px;text-align: center;color:#fff;background: rgba(16, 16, 16, 0.4);}
.QRCode_share_detail  ul li span {float:left;display:block;width:14px;}
.QRCode_share_detail  ul li p {float:left;width:80%;line-height: 26px;color: #fff;font-size:13px;}
.icon-trangle{position:absolute;top:16px;right:12px;border-bottom: 15px solid #fffe97;border-left:10px solid transparent;border-right:10px solid transparent; width: 0px;height: 0px;transform: rotate(40deg);-webkit-transform: rotate(40deg);}
.icon-trangle:before{position:absolute;top:15px;left:-1px;border-left:3px solid #fffe97;height: 35px;width:2px;content:'';}
.QRCode_ctn{position:relative;top:10px;display: block;margin:0 10px;}
.QRCode_ctn p{width:235px;margin:0 auto;color: #f7f996;font-size:16px;}
.QRCode_ctn img{display: block;width:180px;margin:15px auto 15px;border:8px solid #fff;}
.QRCode_ctn #share_close_btn{display: block;margin:0 auto;width: 180px;height:40px;line-height:40px;font-size:16px;text-align:center;color:#fff;background:#50b400;border-radius: 5px;}

/*没有内容的提示*/
.cc_content_empty{width:100%;margin:0 auto; display:none;}
.cc_content_empty .cc_icon{padding:150px 0;width:100%;}
.cc_content_empty .cc_icon .cc_icon_img{height:60px; background-position:3px top;display:block;margin:0 auto;width:80px;}
.cc_content_empty .cc_icon .cc_icon_shop{height:80px; background-position:10px -84px;display:block;margin:0 auto;width:80px;}
.cc_content_empty .cc_text{width:100%;text-align:center;height:22px;line-height:22px;font-size:14px;color:#999999;}
/*加载*/
#cloading{width:100%;text-align:center;padding:10px 0;}
#cloading i{width: 50px;line-height: 50px;display: inline-block;font-size: 30px; -webkit-animation: spin 2s infinite linear;-moz-animation: spin 2s infinite linear;-o-animation: spin 2s infinite linear;animation: spin 2s infinite linear;}
#cloading #loadmore{background:url(../../Index/Image/loading.gif) no-repeat left top;height:32px;width:32px;border:0px;display:block;margin:0 auto;}
/*分享遮罩的层*/
#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display:none; z-index: 20000; background:url(../Image/MgnnofmleM.png) no-repeat right 15px rgba(0, 0, 0, 0.7); background-size:260px 180px;}
/*搜索图标*/
.icon-search { width:28px; height:28px; display:block; position:relative; }
.icon-search:before { position:absolute; top:0; left:0; width:15px;height:15px; margin:3px 0 0 3px; display:block;border:2px solid #4d4d4d;border-radius:50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;content:'';}
.icon-search:after { width:12px;height:1px;content:''; border-top: 2px solid #4d4d4d;-webkit-transform: rotate(45deg); display:block; position:absolute; right:0; bottom:3px;}

/*遮罩效果*/
.zao{ position:fixed; z-index:555;width:100%;background: rgba(0,0,0,0.4); top:0px; height:100%; left:0px; display:none;}

/*没有显示记录*/
#noRec{padding:20px 0px;}
#noRec .ic_bg{background:url(../../Index/Image/b.png) no-repeat left -80px;width:55px;height:75px; display:block;margin:0 auto;}
#noRec .ic_text{height:24px;line-height:24px;text-align:center;color:#ccc;}
#noRec .square{width:64px;height:64px;border:4px solid #ccc;border-radius:100px;margin:0 auto;}
#noRec .square .s_head{width:50px;height:50px;border-radius:36px;margin:0 auto;background-color:#efefef;}
#noRec .square .s_head span{width:10px;height:10px; border-radius:5px;background-color:#ccc;margin:20px 5px 0 5px;}
#noRec .square .s_head .l{float:left;}
#noRec .square .s_head .r{float:right;}
#noRec .square .b_head{width:42px;height:42px;border-radius:38px;background-color:#ccc;margin:0 auto; position:relative; z-index:-111;margin-top:-38px;}
#noRec .ic_text{height:24px;line-height:38px;text-align:center;color:#999;}

/*全部门店、分销赚钱按钮*/
.float_btn { display: block; position: fixed; right: 5px; z-index: 665; height: 52px; width: 52px; border-radius: 5px; }
.float_btn span { display: block;  height: 25px; width: 100%; line-height: 25px; text-align: center; font-size: 11px; color: #fff; }
.btn_all_shop { bottom: 140px; background-color: #3287be; border: 2px solid #64b4dc; }
.btn_distribution { bottom: 80px; background-color: #ff6400; border: 2px solid #ffaa32; }
.btn_service { bottom: 200px; background-color: #33b401; border: 2px solid #63e700; }
.float_btn_icon {height: 22px; width: 30px; margin: 0 auto;padding-top:5px;font-size:20px;color:#fff;text-align:center; }
..btn_all_shop_icon { background-position: 20px 0; }
.btn_distribution_icon { background-position: 0 -33px; }
.float_btn i{height: 24px;width:24px;line-height: 24px;font-size: 20px;color: #fff;margin:5px 0px 0px 17px;display: inline-block;}
.btn_service.bottom_80{bottom:140px;}
/*购物车内商品数量*/
.icon-gouwuche {position:relative;}
.icon-gouwuche em{display:none; padding:3px;  border-radius:50%; color:#fff; font-size:10px; text-align:center; background-color:red; position: absolute;top:-11px;right:-10px;
z-index: 9999;width: 12px;height: 12px;}
.icon-gouwuche .em01{width:12px; height:12px; line-height:12px;}
.icon-gouwuche .em02{width:16px;height:16px;line-height:16px;}

/*商城公告*/
.wshop_notice { display: none; position: fixed; top: 0; left: 0; z-index: 999; width: 100%;line-height:25px;  padding: 5px 10px; box-sizing: border-box;  border-bottom: 1px solid #fff; font-size: 16px; color: #fff; background-color: #0ec5d0; transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -webkit-transition-duration: 500ms; }
.notice_arrow { position: absolute; right: 0; bottom: -41px; height: 40px; width: 40px; background-color: #0ec5d0; border-bottom-left-radius: 50px; border-bottom: 1px solid #fff; border-left: 1px solid #fff; font-size: 15px; }
.notice_arrow span { -webkit-transform: rotate(45deg); transform: rotate(45deg); display: block; position: relative; left: 9px; top: 8px; color: #fff; cursor: pointer; }
.notice_content{line-height: 25px;}
/*微客模块*/
.van_block {position: fixed; left: 0; top: 0; z-index: 1000; box-sizing: border-box; width: 100%; padding: 5px; background-color: rgba(0,0,0,0.5); min-height: 46px; font-size: 12px;}
.share_uesr_header {display:none;}
.share_uesr_header.active{float:left;display:inline;width: 42px; height: 42px; border-radius: 50%;}
.buy_now_btn{ position: absolute; right: 25px; top: 50%; margin-top: -15px; padding: 5px 10px; background-color: #32a000; border-radius: 2px; color: #fff; font-size: 12px;}
.hide_btn {position: absolute; right: 0; top: 70%; height: 20px; width: 25px; line-height: 30px; margin-top: -19px; text-align: center; color: #fff; font-size: 28px; font-weight: lighter; z-index:1;}
.hide_btn:before{content:'';position: absolute; left: 50%;top:0px;width:0px;height: 20px;border-right:1px solid #fff;-webkit-transform: rotate(-45deg);}
.hide_btn:after{content:'';position: absolute; right: 50%;top:0px;width:0px;height: 20px;border-right:1px solid #fff;-webkit-transform: rotate(45deg);}
.share_text_ctn { margin: 0 80px 0 50px; color: #fff;  word-break: break-all; }
.share_text_ctn.ml-5{margin-left:5px}
.mtop-8{margin-top:8px;}
.share_text_ctn span { color: #32a000; padding: 0 2px; }

/*
.share_uesr_header.active{ position: absolute; left: 5px; top: 50%; margin-top: -21px; display: block; width: 42px; height: 42px; border-radius: 50%;}
.buy_now_btn{ position: absolute; right: 25px; top: 50%; margin-top: -15px; padding: 5px 10px; background-color: #32a000; border-radius: 2px; color: #fff; font-size: 12px;opacity:0;}
.buy_now_btn.active {opacity:1;}
.hide_btn {position: absolute; right: 0; top: 70%; height: 20px; width: 25px; line-height: 30px; margin-top: -19px; text-align: center; color: #fff; font-size: 28px; font-weight: lighter; }
.hide_btn:before{content:'';position: absolute; left: 50%;top:0px;width:0px;height: 20px;border-right:1px solid #fff;-webkit-transform: rotate(-45deg);}
.hide_btn:after{content:'';position: absolute; right: 50%;top:0px;width:0px;height: 20px;border-right:1px solid #fff;-webkit-transform: rotate(45deg);}
.share_text_ctn { margin: 0 100px 0 50px; color: #fff;  word-break: break-all; }
.mtop-8{margin-top:8px;}
.share_text_ctn span { color: #32a000; padding: 0 2px; }*/

.vank-recommand{display:-webkit-box;width:100%;color:#fff;background:rgb(69, 192, 26);font-size: 12px;}
.vank-recommand .recommand{-webkit-box-flex:3;line-height:20px;}
.vank-recommand .recommand img{display:none;}
.vank-recommand .recommand img.active{float:left;display:block;width:30px;height:30px;border-radius:50%;margin:2px 5px;}
.vank-recommand .recommand p{display:inline-block;  padding: 5px 0px 5px 5px;}
.vank-recommand .attention{-webkit-box-flex:1;line-height:20px;background:hsl(100, 100%, 25%);}
.vank-recommand .attention a{display:block;padding: 8px 0px 7px 0px;color:#fff;text-align:center;}

/*重构弹出层*/
.promtBox{position: fixed; left: 0; top: 0; z-index: 1000; box-sizing: border-box; width: 100%; padding: 5px; background-color: rgba(0,0,0,0.5); min-height: 46px; font-size: 12px;}
.promtBox .container{position:relative;display:block;margin-right:20px;;box-sizing:border-box;}
.btn-green{ position: absolute; right: 0px; top: 50%; margin-top: -15px; padding: 5px 10px; background-color: #32a000; border-radius: 2px; color: #fff; font-size: 12px;}

/*客服|分店|分销兼容小米2s*/
.no-svg .float_btn_icon {display: block;}