@font-face {
	font-family: 'icon-weigouyi';
	src:url('../Font/icon-weigouyi.eot?-ggbxq0');
	src:url('../Font/icon-weigouyi.eot?#iefix-ggbxq0') format('embedded-opentype'),
		url('../Font/icon-weigouyi.woff?-ggbxq0') format('woff'),
		url('../Font/icon-weigouyi.ttf?-ggbxq0') format('truetype'),
		url('../Font/icon-weigouyi.svg?-ggbxq0#icon-weigouyi') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icon-weigouyi';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fenlei2:before {
	content: "\e624";
}

.icon-gengduo:before {
	content: "\e606";
}

.icon-xiaodian:before {
	content: "\e63e";
}

.icon-shouye:before {
	content: "\e60e";
}

.icon-erji:before {
	content: "\e63b";
}

.icon-yiji:before {
	content: "\e63c";
}

.icon-QQ:before {
	content: "\e63a";
}

.icon-bangding:before {
	content: "\e639";
}

.icon-cuxiao:before {
	content: "\e626";
}

.icon-tejia:before {
	content: "\e631";
}

.icon-xinpin:before {
	content: "\e634";
}

.icon-weixin2:before {
	content: "\e637";
}

.icon-bianji2:before {
	content: "\e636";
}

.icon-newspaper:before {
	content: "\e635";
}

.icon-chenggong:before {
	content: "\e62d";
}

.icon-chushishouji:before {
	content: "\e630";
}

.icon-weixin:before {
	content: "\e632";
}

.icon-xiaji:before {
	content: "\e633";
}

.icon-xuanzhi1:before {
	content: "\e62a";
}

.icon-xuanzhi21:before {
	content: "\e62b";
}

.icon-liansuodian:before {
	content: "\e629";
}

.icon-tianyi:before {
	content: "\e62c";
}

.icon-yinlian:before {
	content: "\e62e";
}

.icon-zhifubao:before {
	content: "\e62f";
}

.icon-spinner32:before {
	content: "\e625";
}

.icon-star-empty:before {
	content: "\e627";
}

.icon-undo22:before {
	content: "\e628";
}

.icon-liulanjilu:before {
	content: "\e61e";
}

.icon-bianji:before {
	content: "\e617";
}

.icon-daifukuan:before {
	content: "\e618";
}

.icon-daishouhuo:before {
	content: "\e619";
}

.icon-daohang:before {
	content: "\e61a";
}

.icon-huiyuanka:before {
	content: "\e61b";
}

.icon-huodong:before {
	content: "\e61c";
}

.icon-jiesuan:before {
	content: "\e61d";
}

.icon-shanchu:before {
	content: "\e61f";
}

.icon-shezhi:before {
	content: "\e620";
}

.icon-toupiao:before {
	content: "\e621";
}

.icon-xiaoxi:before {
	content: "\e622";
}

.icon-youhuiquan:before {
	content: "\e623";
}

.icon-dianhua:before {
	content: "\e600";
}

.icon-erweima:before {
	content: "\e601";
}

.icon-fanhui:before {
	content: "\e602";
}

.icon-fenlei:before {
	content: "\e603";
}

.icon-fenxiang:before {
	content: "\e604";
}

.icon-fenxiao:before {
	content: "\e605";
}

.icon-gouwuche:before {
	content: "\e607";
}

.icon-guaguaka:before {
	content: "\e608";
}

.icon-guanyuwomen:before {
	content: "\e609";
}

.icon-kefu:before {
	content: "\e60a";
}

.icon-sandian:before {
	content: "\e63d";
}

.icon-lishi:before {
	content: "\e60b";
}

.icon-kongxing:before {
	content: "\e641";
}

.icon-liuyan:before {
	content: "\e60c";
}

.icon-shoucang:before {
	content: "\e60d";
}

.icon-sousuo:before {
	content: "\e60f";
}

.icon-wo:before {
	content: "\e610";
}

.icon-kongxin:before {
	content: "\e642";
}

.icon-xihuan:before {
	content: "\e612";
}

.icon-xiangce:before {
	content: "\e611";
}

.icon-yaoyiyao:before {
	content: "\e613";
}

.icon-yingyong:before {
	content: "\e614";
}

.icon-yuyue:before {
	content: "\e615";
}

.icon-dazhuanpan:before {
	content: "\e616";
}

.icon-dingbu:before {
	content: "\e638";
}

.icon-wenhao:before {
	content: "\e63f";
}

.icon-mingpian:before {
	content: "\e640";
}

.icon-fenxiang2:before {
	content: "\e643";
}

.icon-pengyouquan:before {
	content: "\e644";
}

.icon-gonggao:before {
	content: "\e645";
}
.icon-zazhi:before {
	content: "\e646";
}
.icon-paimai:before {
	content: "\e647";
}
.icon-baifenbi:before {
	content: "\e648";
}

.icon-hongbao:before {
	content: "\e649";
}

.icon-huiyuanka2:before {
	content: "\e64a";
}

.icon-tuisong:before {
	content: "\e64b";
}

.icon-woshou:before {
	content: "\e64c";
}

.icon-qudao:before {
	content: "\e64d";
}

.icon-new:before {
	content: "\e64e";
}

.icon-louyu:before {
	content: "\e64f";
}

.icon-yun:before {
	content: "\e650";
}

.icon-ziti:before {
	content: "\e651";
}

.icon-xiaopiao:before {
	content: "\e652";
}

.icon-dayin:before {
	content: "\e653";
}

.icon-tuikuan:before {
	content: "\e654";
}

/*点赞样式*/
.icon-xihuan{width:22px; height:18px; line-height:18px; color:transparent; -webkit-text-stroke: 1px #ff6299; display:block;text-align:center; cursor:pointer;}
.icon-xihuan:hover,.icon-xihuan:active{color:#ff6299;}
.icon-xihuan.select{color:#ff6299;}

/*没有矢量图的时候使用png图片*/
.no-svg .icon-fenlei2     {display: inline-block;background: url('../Image/icon-svg.png') no-repeat -5px -4px;width:30px;height:25px;}
.no-svg .icon-gengduo     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -41px     -4px;width:30px;height:25px;}
.no-svg .icon-xiaodian    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -77px     -4px;width:30px;height:25px;}
.no-svg .icon-shouye      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -112px    -4px;width:30px;height:25px;}
.no-svg .icon-erji        {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -150px    -4px;width:30px;height:25px;}
.no-svg .icon-yiji        {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -189px     -4px;width:30px;height:25px;}
.no-svg .icon-QQ          {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -225px     -4px;width:30px;height:25px;}
.no-svg .icon-bangding    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -264px    -4px;width:30px;height:25px;}
.no-svg .icon-cuxiao      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -302px    -5px;width:30px;height:25px;}
.no-svg .icon-tejia       {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -375px     -4px;width:30px;height:25px;}
.no-svg .icon-xinpin      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -409px     -2px;width:30px;height:25px;}
.no-svg .icon-weixin2     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -451px     -4px;width:30px;height:25px;}
.no-svg .icon-bianji2     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -486px     -4px;width:30px;height:25px;}
.no-svg .icon-newspaper   {display: inline-block;background:url('../Image/icon-svg.png') no-repeat  -523px    -2px;width:30px;height:25px;}
.no-svg .icon-chenggong   {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -563px     -4px;width:30px;height:25px;}
.no-svg .icon-chushishouji{display: inline-block;background:url('../Image/icon-svg.png') no-repeat -600px     -4px;width:30px;height:25px;}
.no-svg .icon-weixin      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -637px     -2px;width:30px;height:25px;}
.no-svg .icon-xiaji       {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -637px -3px;width:30px;height:25px;}
.no-svg .icon-xuanzhi1    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -7px -41px;width:30px;height:25px;}
.no-svg .icon-xuanzhi21   {display: inline-block;background:url('../Image/icon-svg.png') no-repeat  -7px -41px;width:30px;height:25px;}
.no-svg .icon-liansuodian {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -43px -35px;width:30px;height:25px;}
.no-svg .icon-tianyi      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -113px -41px;width:30px;height:25px;}
.no-svg .icon-yinlian     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -153px -36px;width:30px;height:25px;}
.no-svg .icon-zhifubao    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -189px -36px;width:30px;height:25px;}
.no-svg .icon-spinner32   {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -225px -34px;width:30px;height:25px;}
.no-svg .icon-star-empty  {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -263px -33px;width:30px;height:25px;}
.no-svg .icon-undo22      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -299px -35px;width:30px;height:25px;}
.no-svg .icon-liulanjilu  {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -339px -35px;width:30px;height:25px;}
.no-svg .icon-bianji      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -375px -35px;width:30px;height:25px;}
.no-svg .icon-daifukuan   {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -409px -32px;width:30px;height:25px;}
.no-svg .icon-daishouhuo  {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -451px -35px;width:30px;height:25px;}
.no-svg .icon-daohang     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -486px -34px;width:30px;height:25px;}
.no-svg .icon-huiyuanka   {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -523px -33px;width:30px;height:25px;}
.no-svg .icon-huodong     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat  -563px -34px;width:30px;height:25px;}
.no-svg .icon-jiesuan     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -600px -34px;width:30px;height:25px;}
.no-svg .icon-shanchu     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -600px -34px;width:30px;height:25px;}
.no-svg .icon-toupiao     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -674px -34px;width:30px;height:25px;}
.no-svg .icon-shezhi      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -637px -34px;width:30px;height:25px;}
.no-svg .icon-xiaoxi      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -5px -69px;width:30px;height:25px;}
.no-svg .icon-youhuiquan  {display: inline-block;background:url('../Image/icon-svg.png') no-repeat  -43px -69px;;width:30px;height:25px;}
.no-svg .icon-dianhua     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -79px -69px;width:30px;height:25px;}
.no-svg .icon-erweima     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -113px -69px;width:30px;height:25px;}
.no-svg .icon-fanhui      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -153px -69px;width:30px;height:25px;}
.no-svg .icon-fenlei      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -191px -69px;width:30px;height:25px;}
.no-svg .icon-fenxiang    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -225px -69px;width:30px;height:25px;}
.no-svg .icon-fenxiao     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -264px -66px;width:30px;height:25px;}
.no-svg .icon-gouwuche    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -302px -68px;width:30px;height:25px;}
.no-svg .icon-guaguaka    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -339px -64px;width:30px;height:25px;}
.no-svg .icon-guanyuwomen {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -377px -64px;width:30px;height:25px;}
.no-svg .icon-kefu        {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -414px -64px;width:30px;height:25px;}
.no-svg .icon-sandian     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -458px -64px;width:30px;height:25px;}
.no-svg .icon-lishi       {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -486px -66px;width:30px;height:25px;}
.no-svg .icon-kongxing    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -524px -67px;width:30px;height:25px;}
.no-svg .icon-liuyan      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -563px -66px;width:30px;height:25px;}
.no-svg .icon-shoucang    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -601px -67px;width:30px;height:25px;}
.no-svg .icon-sousuo      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -637px -66px;width:30px;height:25px;}
.no-svg .icon-wo          {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -674px -64px;width:30px;height:25px;}
.no-svg .icon-kongxin     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -5px -98px;width:30px;height:25px;}
.no-svg .icon-xihuan      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -41px -98px;width:30px;height:25px;}
.no-svg .icon-xiangce     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -79px -98px;width:30px;height:25px;}
.no-svg .icon-yaoyiyao    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -116px -98px;width:30px;height:25px;}
.no-svg .icon-yingyong    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -152px -98px;width:30px;height:25px;}
.no-svg .icon-yuyue       {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -192px -98px;width:30px;height:25px;}
.no-svg .icon-dazhuanpan  {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -224px -98px;width:30px;height:25px;}
.no-svg .icon-dingbu      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -269px -100px;width:30px;height:25px;}
.no-svg .icon-wenhao      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -302px -98px;width:30px;height:25px;}
.no-svg .icon-mingpian    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -338px -98px;width:30px;height:25px;}
.no-svg .icon-fenxiang2   {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -377px -97px;width:30px;height:25px;}
.no-svg .icon-pengyouquan {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -409px -97px;width:30px;height:25px;}
.no-svg .icon-gonggao     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -450px -98px;width:30px;height:25px;}
.no-svg .icon-zazhi       {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -486px -97px;width:30px;height:25px;}
.no-svg .icon-paimai      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -523px -98px;width:30px;height:25px;}
.no-svg .icon-baifenbi    {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -563px -95px;width:30px;height:25px;}
.no-svg .icon-hongbao     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -602px -97px;width:30px;height:25px;}
.no-svg .icon-huiyuanka2  {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -637px -98px;width:30px;height:25px;}
.no-svg .icon-tuisong     {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -674px -97px;width:30px;height:25px;}
.no-svg .icon-woshou      {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -3px -130px;width:30px;height:25px;}
.no-svg .icon-qudao       {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -39px -127px;width:30px;height:25px;}
.no-svg .icon-new         {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -77px -130px;width:30px;height:25px;}
.no-svg .icon-louyu       {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -118px -127px;width:30px;height:25px;}
.no-svg .icon-yun         {display: inline-block;background:url('../Image/icon-svg.png') no-repeat -153px -130px;width:30px;height:25px;}