<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">
  <title>test</title>
  <link rel="stylesheet" type="text/css" href="css/channel.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="./js/common.js"></script>
</head>
<body>
<div id="channels_div"></div>
<div id="articles_div"></div>
<div id="footer_div"></div>
</body>
<script type="text/javascript">

$(function(){
	
	//当前分类ID
	var channelId = getQueryString('id');
	if( !channelId ){
		channelId = 1;
	}
	
	//当前分类下文章的页数
	var articlePage = 0;
	
	//当前文章页码
	var page = 1;
	
	loadChannels();
	
	//加载分类
	function loadChannels(){
		$.ajax({
			url:'./data/channels.json',
			dataType:'json',
			async: false,
			success:function(data){
				var _s = '';
				data.forEach(function(channel){
					_s += '<a href="channel.html?id='+channel.id+'">' + channel.name + '</a> &nbsp;';
					
					if(channel.id == channelId){
						articlePage = channel.articlePage;
					}
				});
				$('#channels_div').html(_s);
				
				loadArticlePage();

				
				
			}
		});
	}

	//文章分页
	function loadArticlePage(){
		
		$.ajax({
			url:'./data/'+channelId+'/articles-page'+page+'.json',
			dataType:'json',
			success:function(data){
				var _s = '';
				data.forEach(function(article){
					_s += '<div class="article">';
					_s += '	<div class="title">' + article.title + '</div>';
					_s += '	<div class="content">' + article.content + '</div>';
					_s += '</div>';
				});
				$('#articles_div').append(_s);
			}
		});
		
		if(articlePage == 0 || articlePage <= page){			
			$('#footer_div').html('<div id="has_show_all">已全部显示('+articlePage+')</div>');
		}else{
			$('#show_more_div').unbind('click');
			$('#footer_div').html('<div id="show_more_div">显示更多('+page+'/'+articlePage+')...</div>');
			$('#show_more_div').click(function(){
				page++;
				loadArticlePage();
			});
		}
	}
	

	$(document).bind('mousewheel', function (e) {
		
		//滚动条是否在底部
		if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
			var delta = -e.originalEvent.wheelDelta || e.originalEvent.detail;
		    if(delta>0){
		    	page++;
		    	loadArticlePage();
		    }
	    }

	})
	
	document.addEventListener('touchmove', function(e) {
		//滚动条是否在底部
		if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
		     // 如果这个元素的位置内只有一个手指的话
		    if (e.targetTouches.length == 1) {
		　　　　	e.preventDefault();// 阻止浏览器默认事件，重要 
		　　　　	page++;
		    	loadArticlePage();
		     }
		}
	}, false);


})


</script>

</html>
